@model WebApplication2.Models.InventoryModel

@{
    ViewBag.Title = "AddCategory";
}

<h2>AddCategory</h2>

<h2>Add Category</h2>
<hr/>
 <form action="/inventory/addCategory" method="post">

        New Category: <input type="text" name="catName" /> <input type="submit" value="Submit" />
   
</form>

