@model WebApplication2.Models.InventoryModel

@{
    ViewBag.Title = "AddCategory";
}


<h2>Add Category</h2>
<hr/>
 
<form action="addCategory" method="post">
   

        @using (Html.BeginForm())
                    {
                         @Html.ValidationSummary()
                
                    <b>Add aCategory: </b>
                     @Html.TextBox("Category")
            
                     <input type = "submit" value="Add" />
                 
     }

</form>


